<div>
		<nav class="navbar navbar-light bg-primary">
  			<a class="navbar-brand" href="#">
    			<img src="../static/img/Shifu.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    		Flask-TechWww
  		</a>
		</nav>
</div>

{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron" id="cuadro">
	<h1 class="display-4">♥♥♥...Flask basico...♥♥♥</h1>
	<p class="lead">Estas utilizando el framework Flask para paginas web hecho en python.</p>
	<hr class="my-4">
	<p>Esta es un herramiento mortal para diseñar web as eficientes.</p>
	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="jumbotron">
	<h1 class="display-4">♥♥♥...Flask intermedio...♥♥♥</h1>
	<p class="lead">Estas utilizando el framework Flask a nivel intermedio para desarrollar paginas web hecho en python.</p>
	<hr class="my-4">
	<p>No dejes de practicar.</p>
	<a class="btn btn-primary btn-lg" href="#" role="button">Leer mas</a>
</div>

{% endblock %}

