

{% extends 'layout.html' %}

{% block content %}
<div class="card-header jk-bg" id="cuadro">
	<h1 class="display-6">
		<span style="color:#123ABC">♣♣♣</span>
			<b>...Flask basico...</b>
		<span style="color:#123ABC">♣♣♣</span></h1>
	<h6 class="lead">Estas utilizando el framework Flask para paginas web hecho en python.</h6>
	<hr class="my-4">
	<p>Esta es un herramiento mortal para diseñar web as eficientes.</p>
	<a class="" href="#" >Learn more</a>
</div>
	<span><br></span>
<div class="card-header jk-bg">
	<h1 class="display-6">
		<span style="color:#123ABC">♣♣♣</span>
			<b>...Flask intermedio...</b>
		<span style="color:#123ABC">♣♣♣</span>
	</h1>
	<h6 class="lead">
		Estas utilizando el framework Flask a nivel intermedio para desarrollar paginas web hecho en python.
	</h6>

	<hr class="my-4">
	<p>No dejes de practicar.</p>
	<a class="" href="#" >Leer mas</a>
</div>

{% endblock %}

