<div>
		<nav class="navbar navbar-light bg-primary">
  			<a class="navbar-brand" href="#">
    			<img src="../static/img/Shifu.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    		Flask-TechWww
  		</a>
		</nav>
</div>
{% extends 'layout.html' %}

{% block content %}


<div class="card card-body">
	<h1 class="justify-content-center">♣♣♣___Working in Flask___♣♣♣</h1>
	<div class="card-img center bg-warning" align="center">
		<img src="../static/img/Shifu.ico">
	</div>
</div>
{% endblock %}