<html>
<head>
	<title>Principal</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div>
	
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="logo_ct.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ColmenaSecurityTech
  </a>
</nav>


</div>


<!-- ##############################################3 -->
<div>
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
  <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
</div>	
</div>

<!-- mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm -->

	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
       </div>

	</div>

	<div>
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item">
				<a class="nav-link " href="/">Principal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('blogs')}}">Blogs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('recursos')}}">Recursos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="{{url_for('about')}}">About</a>
			</li>
			<li>
				<a class="nav-link" href="{{url_for('home222')}}">Home2</a>
			</li>
		</ul>
	</div>

	<div class="container p-4">
	{% block content %}
  	{% endblock %}
  	</div>
</body>
</html>