<html>
<head>
	<title>Principal</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}"> 
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
</head>
<body>
 

	<div class="card-header  navbar-dark ">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item ">
				<a class="nav-link " style="background-color: pink; font-size: 27px; width:;" href="#">
					<img src="../static/img/Shifu.ico"  width="40" height="40" class="d-inline-block align-top" alt="">
				Tech One
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="/">Principal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('blogs')}}">Blogs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('recursos')}}">Recursos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('ciberseguridad')}}">ciberseguridad</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="{{url_for('about')}}">About</a>
			</li>
		</ul>
	</div>

	<div class="container p-4">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>